*{
	box-sizing:  border-box;
}
body{
	margin:  0;
}
.container{
	font-size: 14px;
}
.nav{
	background-color: #333;
	color: white;
	display:  flex;
	justify-content: space-between;
	align-items: stretch;
	gap:  2rem;
	padding:  0 1rem;
}
.nav ul{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	gap: 1rem;
	font-size: 20px;
}
.nav li a{
	color: inherit;
	text-decoration: none;
	height: 100%;
	display: flex;
	align-items: center;
	padding: .25rem;
}
.nav li.active{
	background-color: #555;
}
.section{
	padding: 10px;
  box-shadow: 1px 1px 4px grey;
  margin: 8px;
  border-radius: 2px;
}
.tableView, .listView, .mtrTable{
	width: 100%;
}
.route{
	width: 10%;
	font-weight: 900;
}
.stopName{
	font-size:  12px;
	width: 35%;
}
.tableView .eta{
	text-align:  left;
	width:  15%;
}
.listView .eta{
	text-align:  left;
	width:  45%;
}
.mtrTable .ttntText{
	width: 40%;
}
.mtrTable .ttnt{
	width: 20%;
}
td{
	vertical-align: baseline;
}
.dest{
	font-weight: 900;
}
.refresh-wrapper{
	margin: 12px 0;
	text-align: center;
}
.search{
	width: 100%;
}
.searchBarWrapper{
	width: 100%;
	text-align: center;
	margin: 10px 0;
}
.searchBar{
	text-align: center;
}
.routeTitle{
	text-align: center;
	padding: 4px 0;
	font-size: 13px;
	display: flex;
}
.searchResult{
	font-size: 12px;
}
.company{
	width: 10%;
	float: left;
}
.origDest{
	width: 90%;
	float: left;
	font-weight: 900;
}
.special{
	font-size: 10px;
	font-weight: normal;
}
.searchResultTable{
	width: 100%;
}
.searchResultCard{
	margin: 4px;
}


