* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}
body {
  margin: 0;
  height: 100%;
}
#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
a {
  color: initial;
  text-decoration: initial;
}
.container {
  font-size: 14px;
  display: flex;
  flex: 1 1 0%;
  overflow: hidden;
  flex-direction: column;
}

.tabPanel {
  overflow: auto;
  padding: 8px;
}
.currWeather img {
  width: 60px;
}
.weatherCard {
  margin: 4px 0;
  padding: 4px;
}
.nineDaysTable {
  width: 100%;
  margin-bottom: 4px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 4px;
}
.nineDaysTable .iconRow {
  width: 20%;
  text-align: center;
}
.nineDaysTable .detailRow {
  width: 70%;
  text-align: left;
}
.nineDaysTable .psrRow {
  width: 10%;
  text-align: center;
}
.nineDaysTable .iconRow img {
  width: 70%;
  filter: drop-shadow(0px 0px 0px black);
}
.nineDaysTable .psrRow img {
  width: 80%;
}
.nineDaysTable th {
  text-align: left;
}
.nineDaysTable td {
  vertical-align: middle;
}
